.container{
    border: 1px solid black;
    margin: 40px;
    background-color: D1D1D1;
}

#centered-image{
    display: block;
    margin-left: none;
    margin-right: auto;
    width: 20%;
}

.site-header, .site-footer{
    background-color: lightgray;
    color: black;
}

.main-navigation{
    padding: 0 15px;
}

.main-navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation a{
    color: hotpink;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.foto-minha{
    border-radius: 50%;
    max-width: 300px;
    min-width: 100px;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 10%;
}

.sobre-mim{
    display: inline-block;
    vertical-align: middle;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

#iconsvg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media screen and (width: 768px){
    .main-navigation ul{
        flex-direction: column;
    }
    .foto-minha{
        display: block;
        float: none;
        margin: 0 auto;
    }
}
