#poster{
    border-radius: 0.5em;
    box-shadow: #522803 0px 2px 8px 0px;
}
#poster:hover{
    box-shadow: #522803 0px 2px 8px 0px;
}

.botao{
    background-color: #c2fbd7;
    border-radius: 10em;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
                rgba(44, 187, 99, .15) 0 1px 2px,
                rgba(44, 187, 99, .15) 0 2px 4px,
                rgba(44, 187, 99, .15) 0 4px 8px,
                rgba(44, 187, 99, .15) 0 8px 16px,
                rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(9, 95, 9);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1.6em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 1em 1em 1em 1em;
}

.botao:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,
                rgba(44,187,99,.25) 0 1px 2px,
                rgba(44,187,99,.25) 0 2px 4px,
                rgba(44,187,99,.25) 0 4px 8px,
                rgba(44,187,99,.25) 0 8px 16px,
                rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.box-filme{
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    margin: 1em 0;
    padding: 1em;
}


#nome-filme{
    font-size: 2em;
    color: #503700;
    margin: 0;
    padding: 20px 0;
}

#nome-filme:hover{
    color: #8f5805;
}

#ano-filme{
    font-size: small;
    color: #83714b;
}

.checkbox-w input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-w *,
.checkbox-w ::after,
.checkbox-w ::before {
    box-sizing: border-box;
}

.checkbox-w {
    position: relative;
    display: block;
    overflow: hidden;
}
.checkbox-w .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}
.checkbox-w .label svg {
    vertical-align: middle;
}
.checkbox-w .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
}
.checkbox-w .check:checked + label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
}