#side {
  flex-shrink: 0;
  width: 210px;
  position: sticky;
  top: 0;
  height: 100vh; 
  background: #3d3d3d;
  display: flex;
  flex-direction: column;
}

.hidden{
  display: none;
}

#main {
  flex-grow: 1;
}

#side a {
  display: block;
  width: 100%;
}

@media screen AND (max-width:768px) {
  #side {
      width: 50px;
      height: 109vh; 
 }
  #side .txt {
      display: none;
  }
  #side .h3{
      display: none;
 }
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#side, #main {
  padding: 10px;
}

#main {
  background: #f2f2f2;
  animation: fadeIn 1s ease-in-out;
}

#title{
  color: rgb(105, 18, 129);
  margin: auto;
  text-align: center;
}

#side a, #side i {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

#side a {
  margin-bottom: 20px;
}

@media screen AND (max-width:768px) {
  #side a {
      text-align: center;
 }
  #side i.ico {
      font-size: 30px;
 }
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}